<html>

<head>
    <title>Quotes</title>
    {% load staticfiles %}
</head>

<body>
    <div class="wrapper">

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h1>Welcome!</h1>
        <form class="topform" action="{% url 'register' %}" method="post">
            {% csrf_token %}

            <h3>Register</h3>
            <p>name:</p>
            <input type="text" name="first" />

            <p>alias:</p>
            <input type="text" name="alias" />

            <p>email:</p>
            <input type="text" name="email" />

            <p>password:</p>
            <input type="password" name="password" />

            <p>password confirmation:</p>
            <input type="password" name="password_confirmation" />
            <p class="btnpar">
                <input type="submit" value="Register" />
            </p>
        </form>

        <form class="btform" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h3>Login</h3>
            <p>Email:</p>
            <input type="text" name="email" />

            <p>Password:</p>
            <input type="text" name="password" />
            <p class="btnpar">
                <input type="submit" value="Login" />
            </p>
        </form>
    </div>
</body>

</html>